<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
    a.btn {
        box-shadow: 0px 5px 10px -1px grey;
    }
    #header-arrow {
        bottom: -140px !important;
    }
    :root {
        /* see variables.scss for more variables*/
        /* === Cover / Landing area === */
        --cover-text-color: #3a4145!important;
        /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
        --highlight: #dde5b6!important;
        /* Dark section - text color */
        --section-dark-text-color: #3a4145!important;
        /* Dark section - background color */
        --section-dark-bg-color: var(--highlight);

        /* Footer color */
        --footer-color-background: #3F4531!important;

        /* define list element for unnumbered lists, leave empty for default list element */
        /* fa-asterisk is the default icon if this variable definition is missing completely */
        --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
        --ul-li-icon: ;                /* this sets the default html list icon */
    }
    /* Justify text inside sections */
    .post-holder {
        text-align: justify;
    }
    .post {
        hyphens: none;
    }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link 
  rel="icon"
  type="image/png"
  sizes="256x256"
  href="{{ (resources.Get "images/nutrizionista_greta_magri_logo-256x256.png").RelPermalink }}"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ (resources.Get "images/apple-touch-icon.png").RelPermalink }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ (resources.Get "images/nutrizionista_greta_magri_logo-32x32.png").RelPermalink }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ (resources.Get "images/nutrizionista_greta_magri_logo-16x16.png").RelPermalink }}"
/>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "IndividualPhysician",
    "availableService": {
        "@type": "MedicalProcedure",
        "name": "{{ .Params.service }}"
    },
    "medicalSpecialty": "DietNutrition",
    "image": "https://gretamagri.it/images/nutrizionista_greta_magri.jpeg",
    "telephone": "+393792443939",
    "openingHours": "Mo,Fr 09:00-20:00",
    "currenciesAccepted": "EUR",
    "paymentAccepted": "Credit Card",
    "priceRange": "$$",
    "name": "{{ .Params.name }}",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "IT",
        "addressLocality": "Modena",
        "addressRegion": "Emilia-Romagna",
        "postalCode": "41124",
        "streetAddress": "Via E. Rainusso 90"
    },
    "url": "{{ .Permalink }}",
    "sameAs": [
        "https://www.instagram.com/nutreezionista/"
    ]
}
</script>

